<div class="login-container">
  <!-- <mat-card>
    <mat-card-title>Entrar</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <div class="form-group flex-column">
          <mat-form-field>
            <input matInput type="text" id="email" name="email" [(ngModel)]="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" id="password" name="password" [(ngModel)]="password" placeholder="Senha">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Entrar</button>
      </form>
    </mat-card-content>
  </mat-card> -->

  <form class="form mat-elevation-z8">

    <h1>StarvingLess Login</h1>

    <img src="assets/img/login.png" alt="StarvingLess Login">

    <mat-form-field class="full-width" apperance="fill">
      <mat-label>E-mail</mat-label>
      <input
      required
      [(ngModel)]="creds.email" 
      name="email" 
      type="email"
      matInput 
      placeholder="Ex. example@mail.com">
    </mat-form-field>

    <mat-form-field class="full-width" apperance="fill">
      <mat-label>Senha</mat-label>
      <input 
      required
      [(ngModel)]="creds.password" name="password" type="password" matInput placeholder="Ex. 123456789">
    </mat-form-field>

    <button (click)="logar()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    
  </form>
</div>








