

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .login-container {
    height: 100vh;
    background: linear-gradient(355deg, rgba(0,0,0,0.9921218487394958) 0%, rgba(0,109,150,1) 22%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 22rem;
    margin: auto;
    background-color: rgb(235,235,235);
    padding: 4rem 1rem;
    border-radius: 1rem;
  }

  .login-container h1 {
    width: 100%;
    text-align: center;

  }

  img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
  }

  .full-width {
    width: 100%;
  }

  button {
    margin-top: 1.5rem;
  }